<main-layout class="columns is-centered">
  <main-box class="column box">
    <h2 class="is-family-secondary is-size-4">
      <%= t('.title') %>
    </h2>

    <%= render 'artists/form', artist: @artist %>

    <div class="buttons is-centered">
      <%= submit_tag t('.create'), form: 'artist_form', class: 'button is-primary' %>
      <%= link_to t('.cancel'), artists_path, class: 'button is-light' %>
    </div>

  </main-box>
</main-layout>
