<footer class="footer" id="main-footer">
  <div class="content has-text-centered">
    <p>
      <strong><%= t('app_title') %></strong> <%= t('app_author') %>.
      <a href="https://www.gnu.org/licenses/gpl-3.0.html"><%= t('app_license') %></a>. |
      <a href="https://inducks.org"><%= t('inducks-license') %></a>
    </p>
  </div>
</footer>
