<sidebar-column class="column is-one-quarter m-1 px-5 py-3 box">
  <ul>
    <%= link_to 'New Book', new_book_path %>
    <li>New Story</li>
    <li>New Artist</li>
    <li>Print Inlay</li>
  </ul>
</sidebar-column>
