<sidebar-column class="column is-one-quarter m-1 px-5 py-3">
  <aside class="menu">
    <ul class="menu-list">
      <li><%= link_to t('.new-book'), new_book_path %></li>
      <li><%= link_to t('.new-story'), new_story_path %></li>
      <li><%= link_to t('.new-artist'), '#' %></li>
      <li><%= link_to t('.print-inlay'), '#' %></li>
    </ul>
  </aside>
</sidebar-column>
