<ul id="<%= list %>">
  <% if books %>
      <% books.each do |book| %>
        <li
          data-controller="inlay-select"
          data-inlay-select-list-value="<%= list %>"
          data-inlay-select-bookid-value="<%= book.id %>"
          data-action="click->inlay-select#toggle">
          <a href='#'><%= book.long_title %></a>
        </li>
      <% end %>
  <% end %>
</ul>
