<tr>
  <td><%= link_to story.code, story_path(story) %></td>
  <td><%= link_to story.title, story_path(story) %></td>
  <td><%= story.pages %></td>
  <td>Romano Scarpa</td>
  <td>Romano Scarpa</td>
</tr>
