<hero-box class="hero is-primary">
  <div class="hero-body">
    <p class="title is-family-secondary">
      <%= t('.title') %>
    </p>
  </div>
</hero-box>
<main-layout class="section is-centered mt-2">
  <% @stories.each do |story| %>
    <%= render StoryListComponent.new(story:) %>
  <% end %>
</main-layout>
<%== render 'shared/pagy', pagy: @pagy %>
